.outer {
    display: table;
    top: 10;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
    padding-bottom: 100px;
    /*whatever width you want*/
}

#map {
    height: 500px;
    width: 100%;
}

agm-map {
  height: 300px;
  width: 100%;
}

img {
  width: 400px;
}

.input-container {
  border: 10px;
}

.logo {
  padding-bottom: 50px;

  // margin-top: -50%;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 70px;
  font-size: 32px;
}

h1 {
  color: #f8f8ff;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  section {
    display: none;
  }
  .mobile {
    display: block;
  }
  .map-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  agm-map {
    height: 60vh;
  }

  .inner {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      padding-bottom: 50px;
      /*whatever width you want*/
  }

  img {
    width: 250px;
    padding-bottom: 20px !important;
  }

  .btn {
    margin-top: 50px;
  }
}
